# ===================== XỬ LÝ VĂN BẢN =====================
nltk
beautifulsoup4
lxml
inscriptis
polars

# ===================== MÔ HÌNH EMBEDDING =====================
sentence-transformers
tf-keras

# ===================== TÍNH TOÁN & PHÂN TÍCH =====================
numpy
scikit-learn
pandas
scipy

# ===================== TÍNH TOÁN SIMILARITY =====================
dask

# ===================== TRỰC QUAN HOÁ (NẾU CẦN) =====================
matplotlib
seaborn

# ===================== PHÂN CỤM & ĐỒ THỊ =====================
networkx

# ===================== ĐỌC FILE .env =====================
python-dotenv
